{% extends "base.html" %}
{% block title %}
<title>Example 01. Fragments - Home</title>
{% endblock %}
{% block content %} 
<div class="content container mx-auto px-4" up-main>
    <div class="columns-1 py-4">
        <div class="flex flex-col items-center">
            <p>Example 01. Fragments using the <span class="badge">up-target</span> attribute.</p>
        </div>
    </div>
    <div class="columns-2 py-4">
        <div class="flex flex-col items-center">
            <a href="/ex01/other" class="one" up-target=".one">
                <button class="btn btn-primary">From home</button>
            </a>
        </div>
        
        <div class="flex flex-col items-center">
            <a href="/ex01/other" class="two" up-target=".two">
                <button class="btn btn-secondary">From home</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}