{% extends "base.html" %}
{% block title %}
<title>Example 01. Fragments - Other</title>
{% endblock %}
{% block content %} 
<div class="content container mx-auto px-4" up-main>
<div class="columns-1 py-4">
    <div class="flex flex-col items-center">
        <p>Example 01. Fragments using the <span class="badge">up-target</span> attribute.</p>
    </div>
</div>
<div class="columns-2 py-4">
    <div class="flex flex-col items-center">
        <a href="/ex01" class="one" up-target=".one">
            <button class="btn btn-neutral">From other</button>
        </a>
    </div>
    
    <div class="flex flex-col items-center">
        <a href="/ex01" class="two" up-target=".two">
            <button class="btn btn-accent">From other</button>
        </a>
    </div>
</div>
{% endblock %}