{% extends "base.html" %}
{% block title %}
<title>Index</title>
{% endblock %}
{% block content %} 
<div class="content container mx-auto px-4" up-main>
    <div class="columns-1 py-4">
        <div class="flex flex-col items-center">
            <ul>
                <li>
                    <a href="/ex01" up-follow>
                        <p>Example 01. Fragments using the <span class="badge">up-target</span> attribute.</p>
                    </a>
                </li>
                <li>
                    <a href="/ex02" up-follow>
                        <p>Example 02. Submitting forms using the <span class="badge">up-submit</span> attribute.</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}